
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: #898b9e;
}

.app-container {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

  .container-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
  }



.openBtn {
  position: fixed;
  left: 10px;
  top: 0%;
  opacity: 0.7;
  cursor: pointer;
}

.center-box {

  max-height: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}

.text {
font-family: 'David Libre', serif;
color: grey;
top: 5%;
}

.test {
  color: white;
  background-color: white;
}

.circle  {
  border-radius: 50%;
  position: relative;
  width: 50%;
  max-height: 1500px;
  max-width: 1500px;
  padding-bottom: 50%;
  background-color: #919191;
  display: flex;
  align-items: center;
  align-content: center;
  overflow:hidden;
  transform: scale(.02);

}



.audioContainer {
  background-color: rgba(255,255,255, 0.7);
  border-radius: 4px;
  height: 100%;
  display: flex;
  justify-content: space-around;;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 0;

}

.audioList{
    display: flex;
    flex-direction: row;
}

.audioComponents{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audioPlayerOne {

  bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}
.formSection {
  margin-right: 20px;
}

.audioContainer label{
  color: grey;
  font-family: 'David Libre', serif;
}
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo_container{
  margin: 50px;
  padding: 0;
}
.logo {
    font-family: 'David Libre', serif;
    font-size: 50px;
    color: #373F51;
    line-height: 1;
    text-align: center;

}

.logo_sub {
  font-family: 'David Libre', serif;
  font-size: 20px;
  color: #373F51;

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userForm {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.formHolder {
  display: flex;
  flex: row;
}

h4 {
  font-size: 15px;
}

.btn-secondary {
    width: 150px;
    margin: 5px;

  }

  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.customColors {
width: 270px;
margin-bottom: 20px;
display: none;
opacity: 0;

}

.colorInputs{
  display: flex;
  flex-direction: column;
}

.colorInput {
  width: 80px;
  margin: 2px
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bfb3b3;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display:inline-block
}
li {
  list-style: none;
  margin: 0;
  align-content: center;
}

#success_message{ display: none;}
